.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.p-home-page {
  font-family: "Georgia", serif;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 0.2em;
}

.a-home {
  font-family: "Georgia", serif;
  text-align: right;
  margin-top: 0.2em;
  
}