.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

p {
  font-family: "Georgia", serif;
  font-size: 20px;
  font-style: italic;
}

a {
  font-family: "Georgia", serif;
  text-align: right;
}