.button-del-container {
    display: flex;
    align-items: center;
    
  }
  
  
  
  .button-del:hover {
    border-color: #646cff;
    
  }
  
  .button-del:focus,
  .button-del:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
    
  }
  
 