.button-del-container {
    display: flex;
    align-items: center;
  }
  
  .button-del {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-right: 8px; /* Add space between the icons */
  }
  
  .button-del:hover {
    border-color: #646cff;
  }
  
  .button-del:focus,
  .button-del:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
 
  