.DENTRO {
    background-color: none;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    padding: 20px;
    color: black;
  }
  .wrapper {
    display: flex;
    margin-top: -150px;
    margin-left: -50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

.tasks-list-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin: 0;
    padding: 0;
    gap: 10px;
  }
  #card {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 18px;
    background-color: #afafaf;
    font-size: 15px;
  }
  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 20px;
    width: 100%;
  }
  .form-wrapper input {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    color: #727070;
  }
  
  .completed .task-text {
    opacity: 0.2;
    text-decoration: line-through;
    color: red;
  }
  