
  
  .wrapper {
    width: 100%;
    padding: 8rem 20px 3rem;
  }
  
  
  .form-container {
    display: flex;
    border-radius: calc(0.1 * 100px);
    box-shadow: 0 4px 14px 0 rgba(70, 70, 70, 0.38);
    justify-content: space-around;
    background: #fff;
    font-size: 1rem;
  }
  
  
  
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  .active {
    color: #8a4baf;
  }
  
  
  
  
  .menu-nav li a,
  .menu-nav li span {
    display: block;
    padding: 1rem;
  }
  
  
  
  .navbar {
    position: relative;
  }
  
  
  .navbar .toggle {
    position: fixed;
    left: 30px;
    top: 60px;
    cursor: pointer;
    background: transparent;
    border: none;
  }
  
  .menu-nav {
    list-style: none;
    position: absolute;
    background: #fff;
    left: 0;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
    font-size: 18px;
    box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);
    transform: translateX(-100px);
    transition: transform ease-in-out 0.2s;
  }
  
  .menu-nav.show-menu {
    width: 100%;
    padding: 0;
    transform: translateX(70px);
  }
  
  
  @media screen and (min-width: 480px) {
    div.wrapper h1 {
      font-size: 6rem;
    }
  
   
  }
  